.gameComponent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.boardComponent {
  background-color: skyblue;
  margin: 10px;
  padding: 20px;
}

.squareComponent {
  background-color: #444;
  color: white;
  border: 1px solid #999;
  padding: 0;
  font-size: 84px;
  text-align: center;
  width: 100px;
  height: 100px;
}

.squareComponent:focus {
  outline: none;
  background-color: #222;
}

.boardRow {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.status {
  margin: 20px;
  font-size: 24px;
}

.reset-button {
  background-color: #444;
  color: white;
  height: 50px;
  width: 100%;
  margin-top: 30px;
  font-size: 30px;
}

.reset-button:hover {
  background-color: #222;
  cursor: pointer;
}

.reset-button:active {
  background-color: rgb(100, 5, 5);
  cursor: pointer;
}
